{% extends "base.html.twig" %}
{% block body %}
    <h1 class="text-xl font-bold">Framework Demo</h1>
    <p class="mb-4">Welcome! This content is displayed using the Demo Controller and a Twig
        Template using the Tailwind CSS framework.</p>
    <p class="border-t">Here are the details:</p>
    <div class="flex flex-col space-y-4">
        <div>
            <div class="font-bold text-lg">Controller</div>
            <div>Application\Controller\DemoController</div>
        </div>

        <div>
            <div class="font-bold text-lg">Method</div>
            <div>hello()</div>
        </div>
        
        <div>
            <div class="font-bold text-lg">File</div>
            <div>src/Application/Controller/DemoController.php</div>
        </div>

        <div>
            <div class="font-bold text-lg">Demo Template</div>
            <div>templates/demo/main.html.twig</div>
        </div>

        <div>
            <div class="font-bold text-lg">Base Tailwind CSS Template</div>
            <div>templates/base.html.twig</div>
        </div>

        <div>
            <div class="font-bold text-lg">Tailwind CSS Config</div>
            <div>tailwind.config.js</div>
        </div>

    </div>
    <h2 class="mt-4">Examples</h2>
    <ul class="flex flex-col space-y-1">
        <li>
            <a href="/demo/json/a/b/c">JSON response</a>
        </li>

        <li>
            <a href="/demo/error">Error Page</a>
        </li>

        <li>
            <a href="/demo/not-found">404 Page</a>
        </li>

        <li>
            <a href="/demo/nested/show/json/example">
                Complex path using DemoController::nested()
            </a>
        </li>
    </ul>

    <h2 class"mt-2">Additional Resources</h2>

    <ul>
        <li>
            <a href="https://github.com/johnsquibb/php-microframework">Source on GitHub</a>
        </li>

        <li>
            <a href="https://tailwindcss.com/">Tailwind CSS Framework</a>
        </li>
    </ul>

{% endblock %}