{% extends "base.html.twig" %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <div class="p-4">
        <h1 class="text-3xl">Not Found</h1>
        <p>The requested resource was not found on this server. Please check the URL and try again.</p>
    </div>
{% endblock %}