<!-- Bootstrap 5 Starter Template - https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/public/build.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <title>{% block title %}PHP Microframework{% endblock %}</title>
</head>
<body>
<div class="col-lg-8 mx-auto p-3 py-md-5">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>