<!-- Bootstrap 5 Starter Template - https://getbootstrap.com/docs/5.0/getting-started/introduction/ -->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tailwind CSS -->
    <link href="/build.css" rel="stylesheet">

    <title>{% block title %}PHP Microframework{% endblock %}</title>
</head>
<body>
<div class="container bg-white p-4 mt-2">
    {% block body %}
    {% endblock %}
</div>

</body>
</html>